<section class="heading-section">
  <h1 class="title is-1 has-text-centered">
    ToDo List
  </h1>
</section>

<div class="container">
  <div class="add-todo-box">
    <form>
      <h2 class="title is-5">New ToDo</h2>

      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Add a New ToDo Here">
        </p>
        <p class="control">
          <button class="button alt-gradient-button">
            <i class="material-symbols-outlined">add</i>
            Add
          </button>
        </p>
      </div>
    </form>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="todos-list">
      <div class="todo-item completed">
        <div class="check-box">
          <i class="material-symbols-outlined">check</i>
        </div>
        <div class="todo-text">
          This is a placeholder for todo text
        </div>

      </div>
      <div class="todo-item">
        <div class="check-box">
          <i class="material-symbols-outlined">check</i>
        </div>
        <div class="todo-text">
          This is a placeholder for todo text kjsadlfkjaskjd hfakjdshf; laskdhflaiussh ;glkahsdf; jksadjflka jksad;flkas df jksa;dfj aksjdflkasjf
        </div>

        <div class="todo-controls-box">
          <div class="todo-control-button">
            <i class="material-symbols-outlined">edit</i>
          </div>
          <div class="todo-control-button">
            <i class="material-symbols-outlined">delete</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
