<div
  class="todo-item"
  (click)="onToDoClicked()"
  [class.completed]="todo.completed"
>
  <div class="check-box">
    <i class="material-symbols-outlined">check</i>
  </div>
  <div class="todo-text">
    {{ todo.text }}
  </div>

  <div class="todo-controls-box" (click)="$event.stopPropagation()">
    <div class="todo-control-button" (click)="onEditClicked()">
      <i class="material-symbols-outlined">edit</i>
    </div>
    <div class="todo-control-button is-danger">
      <i class="material-symbols-outlined">delete</i>
    </div>
  </div>
</div>
